.markdown-body {
  h1, h2, h3, h4, strong {
    font-weight: 600;
    color: #2c3e50;
  }
  img {
    max-width: 100%;
    border-radius: 2px;
  }
  a {
    color: #42b983;
    font-weight: 600;
  }
  code, pre {
    font-family: 'Roboto Mono', Monaco, courier, monospace;
    font-size: 0.8em;
    background-color: #f8f8f8;
    -webkit-font-smoothing: initial;
  }
  pre {
    position: relative;
    box-sizing: border-box;
    padding: 1em;
    max-height: 35em;
    box-shadow: 0 0 2px #ccc;
    &:after {
      content: attr(data-language);
      position: absolute;
      top: 0;
      right: 0;
      color: #ccc;
      text-align: right;
      font-size: 0.75em;
      padding: 5px 10px 0;
      line-height: 15px;
      height: 15px;
      font-weight: 600;
    }
  }
  code {
    position: relative;
    box-sizing: border-box;
    /*padding: 1em;
    max-height: 35em;
    &:after {
      content: attr(data-language);
      position: absolute;
      top: 0;
      right: 0;
      color: #ccc;
      text-align: right;
      font-size: 0.75em;
      padding: 5px 10px 0;
      line-height: 15px;
      height: 15px;
      font-weight: 600;
    }*/
  }
  blockquote {
    margin: 2em 0;
    padding-left: 20px;
    border-left: 4px solid #42b983;
  }
  ul,
  ol {
    display: block;
    list-style-type: disc;
    padding-left: 1.5em;
  }
}
